.eventDetails {
    width: 100%;
}
.definitionList {
    padding: 0.5rem;
    font-size: 1.5rem;

    dt {
        float: left;
        clear: left;
        width: 20%;
        text-align: left;
        font-weight: bold;
    }
    dt::after {
        content: ":";
    }
    dd {
        width: 80%;
        padding: 0 0 0.5em 0;
    }
}
