div.modal-content {
    color: #000000;
}
dl {
    padding: 0.5em;
    font-size: 1rem;
}
dt {
    float: left;
    clear: left;
    width: 20%;
    text-align: left;
    font-weight: bold;
    color: #26a69a;
}
dt::after {
    content: ":";
}
dd {
    width: 80%;
    padding: 0 0 0.5em 0;
}
